<h2>Portfolio</h2>

<ul>
    <li>NodeJS Project</li>
    <li>.Net Project</li>
    <li>Java Project</li>
    <li>Ruby on Rails Project</li>
</ul>

<div>
    <h1 class="text-center">
        User Dashboard
    </h1>

    <div class="jumbotron">
        <ul>
            <li>Your Email Address is : {{user.preferred_username}}</li>
            <li>Your First Name is : {{user.given_name}}</li>
            <li>Your Last Name is : {{user.family_name}}</li>
        </ul>
    </div>
</div>